/* App.css */

.title-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Styling the title */
h1 {
  font-family: 'Darumadrop One', cursive;
  font-size: 100px;
}

.rotated-title {
	font-weight: bold;
	letter-spacing: 10px;
}

.rotated-title span {
	display:inline-block;
}

.rotated-title span:nth-child(even) {
  transform: rotate(10deg);
  color: #ffffff;
}

.rotated-title span:nth-child(odd) {
  transform: rotate(-10deg);
  margin-right: 10px;
}

/* login button styling */
button[name="loginButton"] {
  border: none;
  background-color: transparent;
}
button[name="loginButton"] img {
  width: 300px;
  border-radius: 50%;
}
button[name="loginButton"]:hover {
  opacity: 0.8;
  transition: 0.3s;
}

/* Footer link styling */
a {
  text-decoration: none;
  color: #88aad8;
}

a:hover {
  color: #98b8ec;
}